.form {
  display: grid;
  grid-template: 40px 40px / 1fr 1fr;
  gap: 17px;
}

.buttn {
  grid-column: 1 / -1;
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  background: linear-gradient(90.41deg, #711f8d 1.14%, #a818da 100%);
  color: white;
  border: none;
  cursor: pointer;
}

main {
  padding: 3%;
}

.inp {
  font-family: "Karla", sans-serif;
  border-radius: 5px;
  border: 1px solid #d5d4d8;
  text-indent: 10px;
}

.meme-image {
  width: 90%;
  padding: 10px;
  padding-top: 30px;
}

.center {
  text-align: center;
}

.meme-pic {
  position: relative;
}
.meme-pic-text {
  font-family: "Impact";
  font-weight: 900;
  font-size: 50px;
  width: 80%;
  text-align: center;
  left: 50%;
  transform: translateX(-50%);
  margin: 15px 0;
  padding: 0 10px;
  font-family: impact, sans-serif;
  font-size: 3.5em;
  text-transform: uppercase;
  color: white;
  letter-spacing: 1px;
  text-shadow: 2px 2px 0 #000, -2px -2px 0 #000, 2px -2px 0 #000,
    -2px 2px 0 #000, 0 2px 0 #000, 2px 0 0 #000, 0 -2px 0 #000, -2px 0 0 #000,
    2px 2px 5px #000;
  /* color: #ffffff; */
}

.top {
  position: absolute;
  top: 30px;
}

.bottom {
  position: relative;
  bottom: 120px;
}
